body{
	width: 250px;
	height: auto;
    margin: 0;
    padding: 12px;
}

ul{
    margin: 30px 0 5px;
    padding: 0;
    text-align: center;
}

li{
    padding: 5px;
    font-size: 14px;
    list-style-type: none;
    border-top: 1px solid rgba(60, 159, 209, 0.37);
}


.download-section{
    width: 100%;
}

.myDownload{
    width: 100%;
    margin: 16px auto 5px;
}

.noti{
    font-size: 12px;
}

.help{
    font-size: 11px;
    color: #014c8c;
    margin-top: 5px;
    text-align: center;
}

.help:hover{
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    color: #014c8c;
}

.click{
    font-size: 11px;
    color: #014c8c;
}

